/* body{
    margin: 0;
} */
/* .header{
    height: 55px;
    display: flex;
    flex-direction: row;border-color: red; */
    /* border-style: solid;*/
    /* justify-content: space-between; */
    /* align-items: center; */ 
    
/* } */
/* .left{
    background-color: lightblue;
}
.middle{
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 400px;

} */
/* .right{
    background-color: lightblue;
    flex-shrink: 0; Don't Shrink
}
.search{
    width: 0 ; Shrink

}
.position{

} */
.video-time{
    /* position: absolute;  always inside Position  relative */
}
/* flex-direction : column   for displaying vertically */

/* flex-direction : row   for displaying horizontally */

/* Media Query:-
@media (max-width : 750px) {
    .video-time{
        grid-template-columns:  1fr 1fr;
    }
}     For Page Responsive */

/* HTML <a> tag redirect on same page solution is <a href="link" target="_blank"> HEllo </a> */
*{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
   
}
body{
    height: 3000px;
    background-color: rgba(163,188,192,255);
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2000;
    background-color: white;
}
.logo{
    height: 50px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 10px;
}
.content{
    margin-top: 30px;
    margin-left: 25px;

}
.getintouch{
    margin-right:20px ;
    height: 30px;
    margin-top: 25px;
    /* color: blue; */
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;  
   
}

.pic{
    height: 20%;
    width: 100%;
    /* position: relative; */
}
.pos{
    position: absolute;
    top: 20%;
    /* justify-content: center;
    text-align: center; */
    /* right: 20%; */
    left: 7%;
    color: white;
    
}
.pos p{
    font-size: 15px;
}
.image{
    position: relative;
    /* margin-top: 500px; */margin-top: 85px;

}
.getintouch1{
    margin-right:20px ;
    height: 30px;
    margin-top: 25px;
    color: white;
    /* border-radius: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;    
}
button:hover{
        cursor: pointer;background-color: green;
        box-shadow: 20px;
        box-shadow: 5px 5px; 
        
}
button:active{
    background-color: white;
    color: black;
}
.topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
}
.topic1{
    /* border: 1px solid; */
    margin-left: 15px;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    font-size: 19px;
    box-shadow: inset 4px 4px 4px 4px rgb(226, 226, 226);
}
.topic4{
    /* border: 1px solid; */
    margin-right: 15px;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    font-size: 19px;
    box-shadow: inset 4px 4px 4px 4px rgb(226, 226, 226);

}
.topic2{
    /* border: 1px solid; */
    /* margin-left: 10px; */
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    box-shadow: inset 4px 4px 4px 4px rgb(226, 226, 226);
    font-size: 19px;
}
.topic3{
    /* border: 1px solid; */
    /* margin-left: 10px; */
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    box-shadow: inset 4px 4px 4px 4px rgb(226, 226, 226); 

    font-size: 19px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.footer p{
    line-height: 40px;
    font-size: 15px;
    /* margin-right: 290px; */
}
.topic1 img{
    width: 150px;
}
.topic2 img{
    width: 150px;
}
.topic3 img{
    width: 150px;
}
.topic4 img{
    width: 150px;
}
.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 490px;
    font-size: 14px;

}