body{
    background-color: blueviolet;
}
.box{
    /* box-sizing: border-box; */
    background-color: white;
    height: 500px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 25px;
}
.box h1{
    text-align: center;
    /* justify-content: center; */
    padding-top: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid ;
    height: 60px;
   
}
.input{
    /* border: solid; */
    
}
.input:active{
    border: none;
}
button:hover{
    cursor: pointer;
}